{%load i18n%}
<div class='activity-entry crow'>
    <div class='activity-entry-message'>
        <span class='hwios-button activity-type ui-icon {{activity.action_css}}' data-uri='{{activity.link}}'></span>
        <span class='activity-entry-message-text'><a href='{{activity.link}}'>{{activity.message}}</a></span>
    </div>
    <div class='activity-entry-source'>
        {%ifequal activity.actor_user None%}
        HWIOS
        {%else%}
        {{activity.actor_user}}
        {%endifequal%}
        , {{activity.pub_date|date:"D d F, H:i"}}
    </div>
</div>
