[db]
engine = mysql
name = hwios      ;Database that HWIOS will use
host = localhost  ;Database server IP / domain name
grid = grid       ;Database that OpenSim will be using
user = root    
port = 3306       ;Port to connect to the database on (probably doesn't need to be changed)
pw = 

[email]                
host = localhost  ;IP / domain name of your SMTP server
user =     
pw = 
port = 25
tls = False       ;Use TLS encryption when communicating with the SMTP server?

[general]
lang = en-GB                           ;Locale to use for HWIOS
cache = memcached://127.0.0.1:11211/   ;URI pointing to your memcache server (not sure if this is necessary or not)
uri = 192.168.1.109                    ;URI pointing to the root of this installation
wanip = 0.0.0.0       ;The IP that's used as client wan-ip when HWIOS is accessed from a LAN
time_zone = Europe/Amsterdam
threadpool = 5
theme = start                       ;Which skin to use for the WebUI (more can be placed in services/web_ui/templates)
debug = True
secret_key = pkivyqv97u7+l#o8tdrokc4p!5el96f*exe(%)y4s-j^0)i((0 ;Magic.
