{% load i18n %}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'New Article'%}</span>
        <span>{% now "M d Y, H:i" %}</span>
    </div>
    <div class='ui-widget-content'>
        <form>{{form.as_p}}</form>
    </div>
    <div class='btn-bar'>
        <div class='btn-set btn-set-single'>
            <button data-uri='/blog/' data-slug='{{page.slug}}' class='btn ui-state-default ui-corner-left'>
                <span class='ui-icon ui-icon-document'></span><span class='btn-txt'>{%trans 'Cancel'%}</span>
            </button>
            <button data-function='blog.save_new_article' class='btn ui-state-default ui-corner-right'>
                <span class='ui-icon ui-icon-transfer-e-w'></span><span class='btn-txt'>{%trans 'Submit'%}</span>
            </button>
        </div>
    </div>
</div>


