{% load i18n %}
<div class='hwios-widget'>
    <div class='ui-widget-content'>
        <div class='blog-article'>
            <div class='blog-article-left-pane'>
                {%if article.author.profile.photo%}
                <div class='article-avatar'><img src='/media/files/avatars/{{article.author.profile.photo}}'/></div>
                {%else%}
                <div class='article-avatar unknown-avatar'></div>
                {%endif%}
                <div class='blog-article-created'>{{article.pub_date|date:"M d Y" }}</div>
            </div>

            <div class='blog-article-right-pane'>
                <div class='blog-article-header'>
                    <span><a href='/blog/'>{{article.title}}</a></span>
                    <div class='blog-article-by'>{{article.author}}, {{article.pub_date|date:"H:i" }}</div>
                    {%if profile.is_staff%}
                    <span class='article-option hwios-button ui-icon ui-icon-trash' data-function='blog.delete_article' data-slug='{{article.slug}}'></span>
                    {% if profile == article.author%}
                    <span class='article-option hwios-button ui-icon ui-icon-pencil' data-uri='/blog/{{article.slug}}/edit/' data-slug='{{article.slug}}' ></span>
                    {%endif%}
                    {%endif%}
                </div>
                <div class='blog-article-text'>{% autoescape off %}{{article.text}}{% endautoescape %}</div>
            </div>
        </div>
        {%for comment in comments%}
        <div class='blog-comment'>
            <div class='blog-article-left-pane'>
                {%if article.author.profile.photo%}
                <div class='comment-avatar'><img src='/media/files/avatars/{{article.author.profile.photo}}'/></div>
                {%else%}
                <div class='comment-avatar unknown-avatar'></div>
                {%endif%}
                <div class='blog-comment-created'>{{comment.pub_date|date:"M d Y" }}</div>
            </div>
            <div class='blog-article-right-pane'>
                <div class='blog-comment-header'>
                    <span>{{comment.author.first_name}} {{comment.author.last_name}}, {{comment.pub_date|date:"H:i" }}</span>
                    {%if profile.is_staff%}
                    <span class='hwios-button ui-icon ui-icon-trash' data-function='blog.delete_comment' data-article='{{comment.article.slug}}'data-uuid='{{comment.uuid}}'></span>
                    {%endif%}
                </div>
                <div class='blog-comment-text'>
                {{comment.text}}
                </div>
            </div>
        </div>
        {%endfor%}
        {%if profile.is_authenticated%}
        <form class='blog-comment-editor'>{{form.as_p}}</form>
        <div class='btn-bar'>
            <div class='btn-set btn-set-single'>
                <button data-uri='/blog/' data-slug='{{page.slug}}' class='btn ui-state-default ui-corner-left'>
                    <span class='ui-icon ui-icon-arrowreturnthick-1-w'></span><span class='btn-txt'>{%trans 'Back'%}</span>
                </button>
                <button data-function='blog.create_comment' data-uuid='{{article.pk}}' data-slug='{{article.slug}}' class='btn ui-state-default ui-corner-right'>
                    <span class='ui-icon ui-icon-transfer-e-w' title='Start'></span><span class='btn-txt'>{%trans 'Submit'%}</span>
                </button>
            </div>
        </div>
        {%endif%}
    </div>
</div>