html {
    background: #fff url('images/body_bg.png') repeat-x;
    overflow-y:hidden;
    height:100%;
    width:100%;
    cursor:default;
}

body {
    font-size:13px;
    border-top:5px solid #000;
    font-family:"FreeSans","Bitstream Vera Sans","Arial";
    width:100%;
    height:100%;
    margin:0px;
    overflow-y:scroll;
}

::selection {background:#00aeef;}
::-webkit-scrollbar {width: 11px;}
::-webkit-scrollbar-button {background:#ddd;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {height: 0px;}
::-webkit-scrollbar-track-piece  {
    background-color: #efefef;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.5);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    margin:5px;
    background: #00aeef;
    border: 1px inset #ddd;
}

@-moz-keyframes caret-pulse {0% {opacity: 1;}50% {opacity: 0;} 100% {opacity: 1;}}
@-webkit-keyframes caret-pulse {0% {opacity: 1;}50% {opacity: 0;} 100% {opacity: 1;}}
@-moz-keyframes selection-pulse {0% {opacity: 1;} 50% {opacity: 0.5;} 100% {opacity: 1;}}
@-webkit-keyframes selection-pulse {0% {opacity: 1;} 50% {opacity: 0.7;} 100% {opacity: 1;}}

textarea, select, input {
    background:#fff;
    outline:none;
    border:1px dotted #999;
    resize:none;
    padding:5px;
}

a, a:visited {
    color:#333;
    font-weight:bold;
    text-decoration:none;
    outline:none;
}
a:hover {color:#00aeef;}
hr {background-color: #00aeef;}

textarea:hover, textarea:focus, select:hover, select:focus, input:hover, input:focus {
    border:1px inset #ddd;
}

input[disabled='disabled'] {
    background:#fff;
    color:#777;
    border:1px dotted #ddd;
}
input[disabled='disabled']:hover {
    cursor:crosshair;
}
input[type='file'] {
    border:none;
    background:none;
    color:rgba(0,0,0,0);
}
::-webkit-file-upload-button {
    padding:4px;
    border-radius:4px;
}
form input[type='checkbox'] {margin-top:7px;}
/*basic label for formfields*/
form label {
    width:200px;
    float:left;
    margin-left:20px;
    margin-top:6px;
}
form .ui-icon-info {
    margin-top:6px;
    position:absolute;
}
/*make sure that the errorlist ui-event is triggered*/
form p {
    z-index:1000000;
}

code {
    display:block;
    white-space: pre;
    height:17px;
}

button {
    padding:5px;
    outline:none;
}

button .ui-icon {
    float:left;
    margin-right:4px;
    margin-top:-1px;
}

button .btn-txt {
    margin-right:10px;
}

button .btn-icon {
    width:28px;
    height:28px;
}

.btn-set, .btn-set .btn { float:left;}
.btn-set-single .btn, .btn-set-multi .btn { margin-right: -1px;}
.btn-bar {
    background:#efefef;
    border:1px dotted #ddd;
    width:100%;
    height:34px;
    margin-top:10px;
    border-radius:5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    float:left;
}

#content-container {
    max-width:1200px;
    min-width:700px;
    margin:0 auto;
    overflow:hidden;
}

#header {
    height:90px;
    z-index:5000;
    font-size:14px;
    border-bottom:1px dotted #ddd;
}

/*OS-Networks copyright text*/
#copyright {
    float:right;
    margin-top:69px;
    margin-right:-23px;
    font-size:9px;
}
#copyright:first-letter {
    color:#00aeef !important;
}

/*right vertical hwios text*/
#hwios {
    float:right;
    margin-top:30px;
    margin-right:-28px;
    font-size:20px;
    font-weight:bold;
}
#hwios-highlight {color:#00aeef !important;}


/*the left fixed column*/
.sidebar {
    min-width:150px;
    width:300px;
    float:left;
    margin-right:-100%;
    padding-right:30px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
/*hide the sidebar from the flow when in fullscreen mode*/
.sidebar-fullscreen {
    height:0px !important;
    display:none;
}

/*the right fluid main-column*/
.main {margin-left:300px;}

/*hwios logo at the left*/
#logo {
    float:left;
    margin-top:20px;
    width:74px;
    height:52px;
    background: url('images/logo.png') no-repeat;
}

.textfield-ubersmall {width:20px;}
.textfield-smallest {width:47px;}
.textfield-smaller {width:70px;}
.textfield-small {width:150px;}
.textfield-medium {width:250px;}
.textfield-large {width:300px;}
.textfield-huge {width:400px;}
.dropbox-small {width:100px;}
.dropbox-medium {width:150px;}
.dropbox-large {width:200px;}
.textarea-small {width:150px;}
.textarea-medium {width:250px;}
.textarea-large {height:250px; width:60%;}
.textarea-huge {height:600px; width:100%;}

@-webkit-keyframes fade-in {
    0% { opacity:0;}
    100% {
        opacity:100;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
    }
}

.errorlist {
    list-style:none;
    position:absolute;
    padding:5px;
    background: #fff;
    border:1px solid #ddd;
    margin-top:-32px;
    margin-left:-24px;
    opacity:0;
    border-radius:3px;
    font-weight:bold;
    z-index:9999999;
    display:none;
}

.errorlist-show {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
    opacity:100;
    display:block;
    z-index:10000000000;
}

/* creates triangle */
.errorlist:after {
    content:"";
    position:absolute;
    bottom:-26px; /* value = - border-top-width - border-bottom-width */
    left:17px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    width:0;
    height:0;
    border:13px solid transparent;
    border-top-color:#fff;
}

.hwios-widget {
    margin-top:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

 .hwios-widget .ui-widget-header {
    height:25px;
    font-size:16px;
    font-weight:bold;
    border-bottom:1px dotted #ddd;
}

/* hwios widget left header text */
.hwios-widget .ui-widget-header span:first-child {
    float:left;
    padding-right:6px;
    padding-top:3px;
}
/* hwios widget left header text */
.hwios-widget .ui-widget-header span:first-child:first-letter {
    text-transform:uppercase;
    color:#00aeef;
}

/* hwios widget right header text */
.hwios-widget .ui-widget-header span:last-child {
    float:right;
    color:#000 !important;
    margin-right:3px;
    display:block;
    font-size:12px;
    margin-top:9px;
}

 .hwios-widget .ui-widget-content {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
 }

/* A shortcut icon to one of the page's options */
 .header-option {
    margin-right:1px;
    margin-top:5px;
    float:left;
 }

.slider {
    width:200px;
    height:10px;
    float:left;
    background:rgba(0,0,0,0.3) !important;
    margin-top:10px;
}

/*General popup helper*/
.context-menu {
    width:200px;
    border:1px dotted #111;
    background:#eee;
    position:absolute;
    display:none;
    box-shadow: 7px 7px 10px #333;
    z-index:10000000;
    user-select: none;
    -webkit-user-select: none;
}

.context-menu .btn {
    color:#000;
}

.context-menu:first-child {
    border:1px solid #f00;
}

.context-menu .ui-icon {
    float:left;
    margin-right:5px;
}

.context-menu-option {
    padding:5px;
}

.context-menu-option:first-letter {
    font-weight:bold;
}

.context-menu-option:hover {
    background:#fff;
    border:0px;
    cursor:default;
}

/* list of affected items in the confirmation dialog*/
.confirm-list {
    font-weight:bold;
}

.confirm-list ul {
    text-decoration:none;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*datatable css*/
.datatable {
    width:100%;
}

.datatable td {
    padding:4px;
    padding-top:7px;
}

.datatable tr td:first-child {
    width:10px;
}

.datatable tr td:first-child input {
    margin-top:3px;
}

.datatable tr:hover td {
    background:#ddd;
    cursor:default;
}

.datatable tr:nth-child(even) {
    background:#fff;
}

.datatable tr:nth-child(odd) {
    background:#efefef;
}

.datatable th {
    background:#fff;
    border-bottom:1px dotted #ddd;
    text-align:left;
    padding:5px;
    font-style:oblique;
}

/*action buttons in data-table*/
.action-icon {
    width:16px;
    height:16px;
    float:left;
    border:0px;
    margin-right:2px;
    -webkit-transition: all 0.1s ease-in-out;
}

.action-icon:not(.action-icon-disabled):hover {
    -webkit-transform: translate(0,3px) scale(1.2,1.2); /* Safari and Chrome */
}

.action-icon-disabled {
    opacity:0.5;
}

.yes-button {background: url('images/icons/yes.png') no-repeat;}
.no-button {background: url('images/icons/no.png') no-repeat;}


/*Infinote editor related css here*/
.infinote-online {
    width:20%;
    float:left;
    top:0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow:auto;
}

.infinote-participant {
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:4px;
}

.infinote-participant-color {
    float:left;
    width:20px;
    height:20px;
    border:1px solid #ddd;
    margin-right:5px;
}

.infinote-participant-name {
    font-size:13px;
    font-style:oblique;
}

#infinote-textarea {}

.remote-selection, .CodeMirror-focused span.CodeMirror-selected {
    -webkit-animation-name: selection-pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name: selection-pulse;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

.remote-cursor, .CodeMirror-cursor {
    position:absolute;
    height:18px;
    margin-top:-18px;   
    -webkit-animation-name: caret-pulse;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: caret-pulse;
    -moz-animation-duration: 0.6s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

.remote-cursor {
    display:none;
}

.remote-cursor-focused {
    display:block;
}

.rotate-90 {
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}