html {
    background: #fff url('images/body_bg.png') repeat-x;
    overflow-y:hidden;
    height:100%;
    width:100%;
}

body {
    font-size:13px;
    border-top:5px solid #000;
    font-family:"FreeSans","Bitstream Vera Sans","Arial";
    width:100%;
    height:100%;
    margin:0px;
    overflow:auto;
    overflow-y:scroll;
}

#content-container {
    max-width:1200px;
    min-width:700px;
    margin:0 auto;
    overflow:auto;
    overflow-y:hidden;
    overflow-x:hidden;
}

::selection {background:#00aeef;}

a, a:visited {
    color:#333;
    font-weight:bold;
    text-decoration:none;
    outline:none;
}
a:hover {color:#00aeef;}
hr {background-color: #00aeef;}


#header {
    height:90px;
    z-index:5000;
    font-size:14px;
    border-bottom:1px dotted #ddd;
}

/*OS-Networks copyright text*/
#copyright {
    float:right;
    margin-top:69px;
    margin-right:-23px;
    font-size:9px;
}
#copyright:first-letter {
    color:#00aeef !important;
}

/*right vertical hwios text*/
#hwios {
    float:right;
    margin-top:30px;
    margin-right:-28px;
    font-size:20px;
    font-weight:bold;
}
#hwios-highlight {color:#00aeef !important;}


/*the left fixed column*/
.sidebar {
    min-width:150px;
    width:300px;
    float:left;
    margin-right:-100%;
    margin-top:0px;
    padding-right:30px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    clear:both;
}

/*hide the sidebar when in fullscreen mode*/
.sidebar-fullscreen {
    height:0px !important;
    display:none;
}

/*the right fluid main-column*/
.main {margin-left:300px;}

/*hwios logo at the left*/
#logo {
    width:74px;
    height:52px;
    float:left;
    margin-top:20px;
    background: url('images/logo.png') no-repeat;
}

.ui-tabs-nav {
    margin:0px !important;
    padding:0px !important;
    border-radius:0px !important;
    padding-left:1px !important;
    background:#8db9db;
}

.ui-tabs-nav li {
    height:25px !important;
}
.ui-tabs {
    padding:0px;
    margin:0px;
    background:None;
    border:0px;
    padding:0px;
}

.ui-tabs > .ui-widget-content {
    padding:0px !important;
    border:0px outset #666;
    margin:0px !important;
}

.ui-tabs-panel {
    margin:0px !important;
    padding:0px !important;
    padding-top:0px !important;
    border-radius:0px !important;
}

.ui-widget-footer {
    width:100%;
}

.ui-widget-footer span {
    padding:5px;
    display:block;
}

textarea {
    outline: none;
    color:#444;
    border:1px solid #ddd;
    resize:None;
}

textarea:disabled {
    background:#000 !important;
    color:#bbb;
}

select {
    background:#fff;
    border:1px solid #ddd;
    outline: none;
    padding:4px;
    font-size:13px;
}
select:hover {
    border:1px inset #efefef;
}
select:focus {
    border:1px inset #ddd;
}

select > * {
    padding:15px;
    margin:10px;
}

input {
    padding:6px;
    color:#444;
    border:1px solid #ddd;
    margin:0px;
}

input:hover {
    border:1px dotted #999;
}
input:focus {
    border:1px dotted #999;
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    outline:none;
}

input[disabled='disabled'] {
    background:#fff;
    color:#777;
    border:1px dotted #ddd;
}
input[disabled='disabled']:hover {
    cursor:crosshair;
}
input[type='file'] {
    -webkit-appearance: none;
    background-color: none !important;
    border:0px;
    width:90px;
}

.textfield-ubersmall {width:20px;}
.textfield-smallest {width:47px;}
.textfield-smaller {width:70px;}
.textfield-small {width:150px;}
.textfield-medium {width:250px;}
.textfield-large {width:300px;}
.textfield-huge {width:400px;}
.dropbox-small {width:100px;}
.dropbox-medium {width:150px;}
.dropbox-large {width:200px;}
.textarea-small {width:150px;}
.textarea-medium {width:250px;}
.textarea-large {height:250px; width:60%;}
.textarea-huge {height:600px; width:100%;}

form input[type='checkbox'] {margin-top:7px;}

/*basic label for formfields*/
form label {
    width:200px;
    float:left;
    margin-left:20px;
    margin-top:6px;
}

form .ui-icon-info {
    margin-top:6px;
    position:absolute;
}


@-webkit-keyframes fade-in {
    0% { opacity:0;}
    100% {
        opacity:100;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
    }
}

.errorlist {
    list-style:none;
    position:absolute;
    padding:5px;
    background: #fff;
    border:1px solid #ddd;
    margin-top:-32px;
    margin-left:-24px;
    opacity:0;
    border-radius:3px;
    font-weight:bold;
    z-index:9999999;
    display:none;
}

.errorlist-show {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
    opacity:100;
    display:block;
}

/* creates triangle */
.errorlist:after {
    content:"";
    position:absolute;
    bottom:-26px; /* value = - border-top-width - border-bottom-width */
    left:17px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    width:0;
    height:0;
    border:13px solid transparent;
    border-top-color:#fff;
}

button {
    padding:5px;
    outline:none;
}

/* basic toolbar-button styling */
.btn {

}

.btn-txt {
    margin-right:10px;
}

button .ui-icon {
    float:left;
    margin-right:4px;
    margin-top:-1px;
}
/* Text inside a button */


.btn-icon {
    width:28px;
    height:28px;
}

.btn-icon span {
    position:relative !important;
    display:block !important;
    margin-top:1px !important;
    margin-left:0px !important;
}
.btn-set, .btn-set .btn { float:left;}
.btn-set-single .btn, .btn-set-multi .btn { margin-right: -1px;}
.fg-toolbar .btn-set { margin-right:1.5em; padding-left: 1px; }
.btn-bar {
    background:#efefef;
    border:1px dotted #ddd;
    width:100%;
    height:34px;
    margin-top:10px;
    border-radius:5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    float:top;
}

.hwios-widget {
    margin-top:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

 .hwios-widget .ui-widget-header {
    height:25px;
    font-size:16px;
    font-weight:bold;
    border-bottom:1px dotted #ddd;
}

/* hwios widget left header text */
.hwios-widget > .ui-widget-header span:first-child {
    float:left;
    padding-right:6px;
    padding-top:3px;
}
/* hwios widget left header text */
.hwios-widget > .ui-widget-header span:first-child:first-letter {
    text-transform:uppercase;
    color:#00aeef;
}

/* hwios widget right header text */
.hwios-widget > .ui-widget-header span:last-child {
    float:right;
    color:#000 !important;
    margin-right:3px;
    display:block;
    font-size:12px;
    margin-top:9px;
}

 .hwios-widget > .ui-widget-content {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
 }

 .header-option {
    margin-right:1px;
    margin-top:5px;
    float:left;
 }

/*action buttons in data-table*/
.action-icon {
    width:16px;
    height:16px;
    float:left;
    border:0px;
    margin-right:2px;
    cursor:pointer;
    -webkit-transition: all 0.1s ease-in-out;
}

.action-icon:not(.action-icon-disabled):hover {
    -webkit-transform: translate(0,3px) scale(1.2,1.2); /* Safari and Chrome */
}

.action-icon-disabled {
    opacity:0.5;
    cursor:default;
}

.yes-button {
    background: url('images/icons/yes.png') no-repeat;
}

.no-button {
    background: url('images/icons/no.png') no-repeat;
}

#host-list select {
    height:240px;
    width:250px;
}

.form_ui_label {
    font-weight:bold;
    padding:3px;

    float:left;
    width:160px;
}

.form_ui_content {
    float:right;
    text-align:left;
}

.button_tag {
    float:left;
    margin-top:4px;
    margin-right:10px;
    margin-left:10px;
}

.ui-slider {
    background:rgba(0,0,0,0.3) !important;
}

.slider-wrapper {
    height:10px;
    margin-left:203px;
    padding:5px;

}

.slider {
    width:200px;
    height:10px;
    float:left;
    background:rgba(0,0,0,0.3) !important;
    margin-top:10px;
}

.slider-value {
    float:left;
    padding-left:10px;
    margin-top:-2px;
}

.ui-progressbar-value {
    margin:0px;
    padding:0px;
}

.change_to_text {
    opacity:0.4;
}

.ui-icon-empty {
    background:None !important;
}

.ws-disabled {
    background-color:#000 !important;
    color:#aaa !important;
    cursor:wait !important;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

@-webkit-keyframes pulsate {
    0%    {-webkit-box-shadow: 0px 0px 3px #fff; }
    50%   {border:1px solid #333; -webkit-box-shadow: 0px 0px 5px #333;}
    100%  {-webkit-box-shadow: 0px 0px 3px #fff;}
}

.rcaret {
    position:absolute;
    background-color:#333;
    width:3px;
    height:1em;
    -webkit-animation-name: caret_pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

code {
    display:block;
    white-space: pre;
    height:17px;
}

#about_modal {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
}

#profile-avatar {
    height:120px;
    width:120px;
    border-left:1px dotted #ddd;
    border-top: 1px dotted #ddd;
    padding:5px;
    float:left;
}

#profile-avatar img {
    border:none;
    outline:None;
}

.profile-unknown-avatar {
    background:url('images/unknown_avatar.png');
    background-size:100%;
    width:120px;
    height:120px;

}

#profile-details {
    border-bottom: 1px dotted #ddd;
    width:100%;
}




#profile-details tr td:first-child {
    width:140px;
}

.profile-details-about {
    border-top:1px dotted #ddd;
    padding-bottom:20px;
    padding-top:20px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.profile-details-about:first-letter {
    font-weight:bold;
    font-size:18px;
}

#profile-details table{
    padding:0px;
}



#profile-drag-avatar {
    width:120px;
    height:120px;
    border:1px dashed #666;
    border-right:0px;
    position:relative;
    margin-left:214px;
}

#profile-drag-avatar span {
    position:absolute;
    top:55px;
    left:22px;
    width:90px;
    font-weight:bold;
}

/*Before upload happens, show the dropped image in our box*/

#profile-drag-avatar-current {
    width:120px;
    height:120px;
    border:1px dashed #666;
    position:absolute;
    margin-left:334px;
}


#profile-drag-avatar-current img {
    width:120px;
    height:120px;
}

#profile-drag-avatar-current span {
    position:absolute;
    top:55px;
    left:22px;
    width:90px;
    font-weight:bold;
}

#profile-avatar-preview {
    width:120px;
    height:120px;
    border:0px;
}

#profile-avatar-preview img {

}

/*custom theme-matching scrollbar in webkit based browsers*/
::-webkit-scrollbar {width: 11px;}
::-webkit-scrollbar-button {background:#ddd;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {height: 0px;}
::-webkit-scrollbar-track-piece  {
    background-color: #efefef;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.5);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    margin:5px;
    background: #00aeef;
    border: 1px inset #ddd;
}
::-webkit-resizer {}

.hwios-accordion {
    margin-bottom:10px;
    width:100%;
}

.hwios-accordion .ui-accordion-content {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0px !important;
}



.hwios-accordion .ui-accordion-header {
    padding:0px !important;
    border: 1px solid #4297d7;
    background: #5c9ccc url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
    font-weight: bold;
    border-top-left-radius:15px !important;
    border-top-right-radius:15px !important;
}

.hwios-accordion-content {

}

#notify-info {
    background:#333 !important;
}

.hwios-button {
    cursor:pointer;
}

.plasmoid-container {
    overflow:hidden;
}

.crow:nth-child(odd)    {background-color: #fff;}
.crow:nth-child(even)    {background-color: #eee;}

.hide-element {
    display:none;
}

.unknown-avatar {
    background:url('images/unknown_avatar.png') no-repeat;
    background-size:100%;
}

/*General popup helper*/
.context-menu {
    width:200px;
    border:1px dotted #111;
    background:#eee;
    position:absolute;
    display:none;
    box-shadow: 7px 7px 10px #333;
    overflow:auto;
    color:#aaa;
    z-index:10000000;
    font-size:13px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.context-menu .hwios-button {
    color:#000;
}

.context-menu:first-child {
    border:1px solid #f00;
}

.context-menu .ui-icon {
    float:left;
    margin-right:5px;
}

.context-menu-option {
    padding:5px;
}

.context-menu-option:first-letter {
    font-weight:bold;
}

.context-menu-option:hover {
    background-color:#fff;
    cursor:default;
}

.confirm-list {
    font-weight:bold;
}

.confirm-list ul {
    text-decoration:none;
    list-style: none;
padding: 0;
margin: 0;
}

/*datatable css*/
.datatable {
    width:100%;
}

.datatable td {
    padding:4px;
    padding-top:7px;
}

.datatable tr td:first-child {
    width:10px;
}

.datatable tr td:first-child input {
    margin-top:3px;
}

.datatable tr:hover td {
    background:#ddd;
    cursor:default;
}

.datatable tr:nth-child(even) {
    background:#fff;
}

.datatable tr:nth-child(odd) {
    background:#efefef;
}

.datatable th {
    background:#fff;
    border-bottom:1px dotted #ddd;
    text-align:left;
    padding:5px;
    font-style:oblique;
}

/*Infinote editor related css here*/
.infinote-online {
    width:20%;
    float:left;
    top:0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position:relative;
}

.infinote-participant {
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:4px;
}

.infinote-participant-color {
    float:left;
    width:20px;
    height:20px;
    border:1px solid #ddd;
    margin-right:5px;
}

.infinote-participant-name {
    font-size:13px;
    font-style:oblique;
}

#infinote-textarea {}


@-moz-keyframes caret_pulse {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes caret_pulse {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes selection_pulse {
    0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}

@-webkit-keyframes selection_pulse {
    0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}

.remote-selection {
    /*this produces some artifacts. no real gfx improvement
    /*-webkit-animation-name: selection_pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;    
    -moz-animation-name: selection_pulse;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    */
}

.remote-cursor {
    width:3px !important;
    height:20px;
    -webkit-animation-name: caret_pulse;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    position:absolute;
    margin-top:-18px;    
    -moz-animation-name: caret_pulse;
    -moz-animation-duration: 0.6s;    
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

.rotate-90 {
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#whois-info {
    margin-right:-100%;
    width:500px;
    height:300px;
    float:left;
    border-top:1px dotted #ddd;
    border-left:1px dotted #ddd;    
    margin-top:20px;
}

#whois-info table tr td:first-child {
    font-style:oblique;
    font-weight:bold;
}

.whois-map {
    width:378px;
    height:300px;
    border:1px dotted #ddd;
    margin-left:520px;
    float:left;
    margin-top:20px;
}
