/* upper screen-wide menu-bar */
.menu-item-selected {
    border-bottom:1px solid #ddd;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.menu-item-selected:first-letter {
    color:#00aeef;
}

#main-menu {
    float:left;
    margin-top:35px;
    margin-left:10px;
}

.hwios-menu {
    line-height:0.5;
}

.hwios-menu, .hwios-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    top: 0px;
    z-index:100;
}

/* All menu containers */
.hwios-menu ul {
    position: absolute;
    width: 175px; /* left offset of submenus need to match (see below) */
    top:-999em;
    border:1px dotted #ddd;
    background:#eee;
    box-shadow: 7px 7px 10px #333;
    color:#000;
    left:10px;
}

.hwios-menu ul li:hover {
    background-color:#fff;
    cursor:default;
}

.hwios-menu ul li:first-letter {
    font-weight:bold;
}


.hwios-menu ul li {
    width: 100%;

}

.hwios-menu li {
    float: left;
    position: relative;
}

.hwios-menu > li {

}

.hwios-menu ul li ul {
    padding-left:5px;
}
/*first level hover*/
.hwios-menu li ul {
    opacity:0;
}

.hwios-menu li:hover ul {
    left: 30;
    top: 25px; /* match top ul list item height */
    opacity:1;
    line-height:1;
    -webkit-transition: opacity 0.3s ease-out;
}

/* suckerfish container */
.hwios-menu div {
    padding: 10px 10px;
    text-decoration:none;
}
.hwios-menu div  {
    cursor:default;
}

/* Root level */
.hwios-menu > li {
    color:#000;
    font-weight:bold;
    margin-left:20px;
    margin-right:20px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.hwios-menu > li ul {
    font-weight:normal;
    font-size:13px !important;
}

/*First level menu hover */
.hwios-menu li:hover {
    color:#666;
    -webkit-transition: opacity 0.4s ease-out;
}


.menu-icon {
    float:left;
    margin-right:10px;
    margin-top:8px;
}