.messenger {

}

#message_box {
    width:100%;
    height:160px;
    overflow-y:scroll;
    overflow-x:hidden;
    resize: vertical;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    border-bottom:1px dotted #ddd;
    font-size:16px;
}

#message_input_field {
    width:100%;
    display:block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-top:0;
    border-right:0px !important;
}

#message_input {
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;

}

#online-box {
    width:100%;
    height:100px;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-bottom:1px dotted #00aeef;
    font-size:16px;
    resize:vertical;
    cursor:default;
}


.message-container {
    margin-bottom:5px;
}

.message-container:nth-child(even) {
    background:#efefef;
}

.message-header {
    color:#333;
    font-size:13px;
}

/*time*/
.message-header span:last-child {
    float:right;
    margin-right:5px;
}

.profile-icon {
    float:left;
    margin-top:3px;
}

.messenger-participant {
    width:100%;
    height:30px;
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box;
}

/*row coloring*/
.messenger-participant:nth-child(even) {
    background:#efefef;
}

.messenger-participant:hover {
    background:#dfdfdf;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.messenger-participant div {
    float:left;
    margin-right:3px;
}

.messenger-participant div:last-child {
    margin-top:3px;
    margin-left:5px;
    font-style:oblique;
}

.messenger-avatar {
    border:1px solid #ddd;
    width:25px;
    height:25px;
}

.messenger-avatar img {
width:100%; height:100%
}

.message-notification {
    padding-top:5px;
    padding-left:2px;
    width:100%;
    height:18px;
    font-weight:bold;
}

/*Future space for buttons*/
#messenger-options {
    height:36px;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-bottom:1px dotted #ddd;
}