#undo_slider_value {
    color:#000;
    padding:5px;
    padding-left:15px;
}

#wiki-markdown {
    min-height:150px;
    -webkit-user-select: auto;
    font-size:13px;
    line-height:1.4;
}

#wiki-markdown p:first-letter {
    font-weight:bold;
    font-size:16px;
}

#wiki-markdown h1 {
    font-size:18px;
    font-weight:bold;
    font-style:oblique;
}


#wiki-markdown h2 {
    font-size:17px;
    color:#000;
}


#wiki-markdown h3 {
    font-size:15px;
    font-style:bold;
    text-decoration: underline;
}

#wiki-markdown h4 {
    font-size:15px;
    font-style:italic;
}

#wiki-markdown pre {
    display:block;
    position:relative;
    
}

#wiki-markdown code {
    font-size:12px;
    color:#3e4e64;
    border:1px dashed #333;
    overflow:auto;
    overflow-Y:hidden;
    height:100%;
    padding:5px;
}

#wiki-markdown pre {

}

#wiki-markdown table {
    border:1px solid #6ba5d0;
    border-collapse:collapse;
}

#wiki-markdown td {
    border:1px solid #6ba5d0;
    padding:4px;
    background-color:#dde4ff;
}

#wiki-markdown th {
    color:#fff;
    padding:4px;
    background-color:#6ba5d0;
}


#wiki-markdown img {
    border:1px solid #666;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.8);
}

.edit-wiki-page #wiki-markdown {
    width:100%;
    height:250px;
    overflow:auto;
    resize:vertical;
    border-bottom:1px dotted #ddd;
    margin-bottom:10px;
}

.wiki-fullscreen {
    position:absolute;
    width:100%;
    height:100%;
    background: #fff url('images/body_bg.png') repeat-x;
    overflow:auto;
    left:0px;
    top:0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #f00;
    z-index:10000;
}

.wiki-fullscreen #wiki-markdown {
    position:absolute;
    right:0px;
    top:0px;
    width:48%;
    height:100%;
    z-index:10000;
    overflow:auto;
    margin-bottom:0px;
    resize:none;
    padding-left:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow-y:scroll;
}

.wiki-fullscreen #wiki-editor .CodeMirror-scroll {
    overflow-y:show;
    overflow-x:hide;
    height:100%;
}

.wiki-fullscreen .infinote-online {
    width:15%;
    height:100%;
    left:0px;
    top:0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wiki-fullscreen #wiki-editor {
    position:absolute;
    left:0px;
    top:0px;
    width:52%;
    height:100%;
    z-index:10000;
    overflow-y:scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*Editor container*/
.edit-wiki-page #wiki-editor {
    width:100%;
    border-bottom:1px solid #ddd;
    border-top:1px dotted #ddd;
}

.wiki-fullscreen #wiki-fullscreen-button {
    position:absolute;
    right:15px;
    top:0px;
    z-index:100000;
    border:1px dotted #ddd;
}

#wiki-listener {
    border:1px solid #333;
}

.editor-hidden {
    display:none;
}