#plasmoid-form-container {
    width:100%;
    height:300px;
    position:relative;
}

#plasmoid-form {
    float:left;
    margin-right:-100%;
    border-bottom:1px dotted #ddd;
    width:500px;
    height:300px;
}

.plasmoid-preview {
    height:300px;
    border-left:1px dotted #ddd;
    border-bottom:1px dotted #ddd;
    overflow:hidden;
    margin-left:500px;
    background: url('images/opaque.jpg') repeat !important;    
}

.hwios-plasmoid {
    height:200px;
    width:100%;
    position:relative;
    display:block;

}

.plasmoid-container {
    width:100%;
    height:100%;
}

.hwios-plasmoid canvas {
    height:100%;
    width:100%;
    position:absolute;
}

#plasmoid-editor {
    width:100%;
    float:left;
}


