.messenger {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-left:1px dotted #ddd;
}

#message_box {
    width:100%;
    height:160px;
    overflow-y:scroll;
    overflow-x:hidden;
    resize: vertical;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    border-bottom:1px dotted #ddd;
    font-size:13px;
    background: url('images/chat_bg.png') no-repeat;
    background-position:center;
    background-size:70%;
}

#message_input_field {
    width:100%;
    display:block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;

}

#message_input {
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

#online-box {
    width:100%;
    height:100px;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-bottom:1px dotted #00aeef;
    font-size:12px;
    font-weight:bold;
    font-style:oblique;
    resize:vertical;
    cursor:default;
}

/*each message*/
.message-container:nth-child(even) {
    background:rgba(249,249,249,0.5);
}

.message-header {
    color:#333;
    font-size:13px;
}

/*author*/
.message-header span:first-child {
    font-weight:bold;
}

/*time*/
.message-header span:last-child {
    float:right;
    margin-right:5px;
}

.profile-icon {
    float:left;
    margin-top:3px;
}

.messenger-participant {
    width:100%;
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box;
}

/* user-online avatar div*/
.messenger-participant div:first-child {
    float:left;
    margin-right:-100%;
    width:24px;
    height:24px;
}

/* user-online title text*/
.messenger-participant div:last-child {
    margin-left:25px;
    padding:2px;
    padding-left:8px;
    padding-top:5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    background:rgb(249,249,249);
    color:#333;
}

.messenger-participant div:last-child:hover {
    background:rgb(250,250,250);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

.messenger-avatar {
    border:1px solid #ddd;    
    margin-top:1px;
}

.messenger-avatar img {
width:100%; height:100%
}

.message-notification {
    padding-top:5px;
    padding-left:2px;
    width:100%;
    height:18px;
    font-weight:bold;
}

/*Future space for buttons*/
#messenger-options {
    height:36px;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-bottom:1px dotted #ddd;
}