{% load i18n %}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'New Profile'%}</span>
        <span>{%trans 'Create'%}</span>
    </div>
    <div class='ui-widget-content ui-corner-bottom'>
    <form method='post' action=''>
        {{ form.as_p }}
    </form>
    </div>
    <div class='btn-bar'>
        <div class='btn-set btn-set-single'>
            <button data-uri='/profiles/manage/' class='btn ui-state-default ui-corner-left'>
                <span class='ui-icon ui-icon-document'></span><span class='btn-txt'>{%trans 'Cancel'%}</span>
            </button>
            <button data-function='profiles.save_create_profile' class='btn ui-state-default ui-corner-right'>
                <span class='ui-icon ui-icon-pencil'></span><span class='btn-txt'>{%trans 'Save'%}</span>
            </button>
        </div>
    </div>
</div>
