{%load i18n%}
<div class='hwios-widget'>
    <div class="ui-widget-header ui-corner-top">
        <span>{%trans "Profiles"%}</span>
        <span>{%trans "Overview"%}</span>
    </div>
    <div class='ui-widget-content ui-corner-bottom'>
        <table class="datatable" >
        <thead>
            <tr>
            <th class='datatable-cb'><input type='checkbox' id='cb-all' /></th>
            <th>{%trans "Description"%}</th>
            <th>{%trans "Email"%}</th>
            <th>{%trans "Active"%}</th>
            <th>{%trans "Staff"%}</th>
            <th>{%trans "Super"%}</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
        <tr>
        <td><input type='checkbox' data-uuid='{{profile.uuid}}' data-first_name='{{profile.first_name}}' data-last_name='{{profile.last_name}}' id='{{profile.first_name}}_{{profile.last_name}}' name='{{profile.first_name}}_{{profile.last_name}}'/></td>
        <td>{{profile.first_name}} {{profile.last_name}}</td>
        <td>{{profile.email}}</td>
        <td>
        {%ifequal profile.is_active 1 %}
        <button id='btn-profiles-set-is-active' class='action-icon yes-button is-active-{{profile.uuid}}' value='{{profile.uuid}}'></button>
        {%else%}
        <button id='btn-profiles-set-is-active' class='action-icon no-button is-active-{{profile.uuid}}' value='{{profile.uuid}}'></button>
        {%endifequal%}
        </td>
        <td>
        {%ifequal profile.is_staff 1 %}
        <button id='btn-profiles-set-is-staff' class='action-icon yes-button is-staff-{{profile.uuid}}' value='{{profile.uuid}}'></button>
        {%else%}
        <button id='btn-profiles-set-is-staff' class='action-icon no-button is-staff-{{profile.uuid}}' value='{{profile.uuid}}'></button>
        {%endifequal%}
        </td>
        <td>
        {%ifequal profile.is_superuser 1 %}
        <button id='btn-profiles-set-superuser' class='action-icon yes-button is-superuser-{{profile.uuid}}' value='{{profile.uuid}}'></button>
        {%else%}
        <button id='btn-profiles-set-superuser' class='action-icon no-button is-superuser-{{profile.uuid}}' value='{{profile.uuid}}'></button>
        {%endifequal%}
        </td>
        </tr>
        {%endfor%}
        </tbody>
        </table>
        <div class='hwios-toolbar'>
            <div class="action-bar ui-corner-all ui-helper-clearfix">
                <div class="fg-buttonset fg-buttonset-single ui-helper-clearfix">
                    <button data-uri='/profiles/create/' class='fg-button ui-state-default fg-button-icon-left ui-corner-left'><span class='ui-icon ui-icon-document'></span><span>{%trans "New"%}</span></button>
                    <button data-uripart='/profiles/{id}/edit/' data-uriflag='cb-cid' class='btn-active-one fg-button ui-state-default fg-button-icon-left ui-state-disabled'><span class='ui-icon ui-icon-pencil'></span><span>{%trans "Edit"%}</span></button>
                    <button data-function='profiles.delete_profiles' class='btn-active-many fg-button ui-state-default fg-button-icon-left ui-state-disabled ui-corner-right'><span class='ui-icon ui-icon-scissors'></span><span>{%trans "Delete"%}</span></button>                                
                </div>
            </div>
        </div>
    </div>        
</div>