{%load i18n%}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'Profiles'%}</span>
        <span>{%trans 'Overview'%}</span>
    </div>
    <div class='ui-widget-content'>
        <table class='datatable' >
            <thead>
                <tr>
                <th><input type='checkbox' id='cb-all' /></th>
                <th>{%trans 'Username'%}</th>
                <th>{%trans 'Email'%}</th>
                <th>{%trans 'Active'%}</th>
                <th>{%trans 'Staff'%}</th>
                <th>{%trans 'Super'%}</th>
                </tr>
            </thead>
            <tbody>
            {% for profile in profiles %}
            <tr>
            <td><input type='checkbox' data-uuid='{{profile.uuid}}' data-username='{{profile.username}}' id='{{profile.username}}'/></td>
            <td>{{profile.username}}</td>
            <td>{{profile.email}}</td>
            <td>
            {%ifequal profile.is_active 1 %}
            <button id='btn-profiles-set-is-active' class='action-icon yes-button'></button>
            {%else%}
            <button id='btn-profiles-set-is-active' class='action-icon no-button'></button>
            {%endifequal%}
            </td>
            <td>
            {%ifequal profile.is_staff 1 %}
            <button id='btn-profiles-set-is-staff' class='action-icon yes-button'></button>
            {%else%}
            <button id='btn-profiles-set-is-staff' class='action-icon no-button'></button>
            {%endifequal%}
            </td>
            <td>
            {%ifequal profile.is_superuser 1 %}
            <button id='btn-profiles-set-superuser' class='action-icon yes-button'></button>
            {%else%}
            <button id='btn-profiles-set-superuser' class='action-icon no-button'></button>
            {%endifequal%}
            </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class='btn-bar'>
            <div class='btn-set btn-set-single'>
                <button data-uri='/profiles/create/' class='btn ui-state-default ui-corner-left'>
                    <span class='ui-icon ui-icon-document'></span><span class='btn-txt'>{%trans 'New'%}</span>
                </button>
                <button data-uripart='/profiles/{id}/edit/' data-uriflag='cb-cid' class='btn btn-active-one ui-state-default ui-state-disabled'>
                    <span class='ui-icon ui-icon-pencil'></span><span class='btn-txt'>{%trans 'Edit'%}</span>
                </button>
                <button data-function='profiles.delete_profiles' class='btn btn-active-many ui-state-default ui-state-disabled ui-corner-right'>
                    <span class='ui-icon ui-icon-scissors'></span><span class='btn-txt'>{%trans 'Delete'%}</span>
                </button>
            </div>
        </div>
    </div>        
</div>