{%load i18n%}
<h3>{%trans "Congratulations!"%}</h3>
<p>{%trans "You succesfully created a new account, A confirmation mail was sent to the email address that you used for registration." %}
{% ifequal activation_type 0%}
    {%trans "Your account was directly activated. Thank you for registering..."%}
{%else%}
    {% ifequal activation_type 1%}
        {%trans "Please check your e-mail for the activation link. Follow the link in order to activate this account. Thank you for registering..."%}
    {% else %}
        {% ifequal activation_type 2 %}
        {%trans "Your registration request was sent to a moderator for further processing. You will be notified when the account request is approved. Thank you for your patience..."%}
        {% endifequal %}
    {% endifequal %}
{% endifequal %}
</p>