{% load i18n %}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'Settings'%}</span>
        <span>{%trans 'Modify'%}</span>
    </div>
    <div id='settings_tabs'>
        <ul>
            <li><a href='#settings-general'>{%trans 'General'%}</a></li>
        </ul>
        <div id='settings-general'>
            <form method='post' action=''>{{ general_form.as_p }}</form>
            <div class='btn-bar'>
                <div class='btn-set btn-set-single'>
                    <button data-function='settings.update_settings' class='btn btn-select0 ui-state-default ui-corner-all'>
                        <span class='ui-icon ui-icon-gear'></span><span class='btn-txt'>{%trans 'Update'%}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

