{%load i18n%}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'Regions'%}</span>
        <span>{%trans 'New'%}</span>
    </div>
    <div class='ui-widget-content'>
        <div class='region-editor-container'>
            <div class='region-editor-form'>
                <form method='post' action=''>
                {{ form.as_p }}
                </form>
            </div>
            <div id='map'></div>
        </div>
    </div>
    <div class='btn-bar'>
        <div class='btn-set btn-set-single'>
            <button data-uri='/opensim/regions/' class='btn ui-state-default ui-corner-left'>
                <span class='ui-icon ui-icon-document'></span><span class='btn-txt'>{%trans 'Cancel'%}</span>
            </button>
            <button data-function='opensim.save_create_region' class='btn ui-state-default ui-corner-right'>
                <span class='ui-icon ui-icon-pencil'></span><span class='btn-txt'>{%trans 'Save'%}</span>
            </button>
        </div>
    </div>
</div>
