{%load i18n%}
<div>
    <form method="post">
    {{form.as_p}}
    </form>
    <p class='ui-state-highlight'><span class='ui-icon ui-icon-info' style='float: left; margin-right: .3em;'></span>{%trans "Precondition: Log target avatar into the designated simulator before loading!"%}</p>
    <p class='ui-state-highlight'><span class='ui-icon ui-icon-info' style='float: left; margin-right: .3em;'></span>{%trans "Precondition: Use an existing path in your inventory to store this oar in!"%}</p>
</div>