{% load i18n %}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'Regions'%}</span>
        <span>{%trans 'Overview'%}</span>
    </div>
    <div id='region-tabs'>
        <ul>
            <li><a href='#opensim-regions'>{%trans 'Regions'%}</a></li>
            <li><a href='#opensim-scenes'>{%trans 'Scenes'%}</a></li>
        </ul>
        <div class='ui-widget-content' id='opensim-regions'>
            <table class='datatable'>
            <thead>
                <tr>
                <th><input type='checkbox' id='cb-all' /></th>
                <th>{%trans 'Description'%}</th>
                <th>{%trans 'Service'%}</th>
                <th>{%trans 'Port'%}</th>
                <th>{%trans 'Position'%}</th>
                <th>{%trans 'Status'%}</th>
                <th>{%trans 'Options'%}</th>
                </tr>
            </thead>
            <tbody>
            {%for region in regions%}
                <tr>
                <td><input type='checkbox' id='{{region.RegionUUID}}' name='{{region.RegionUUID}}'/></td>
                <td>{{region.name}}</td>                
                <td>{{region_service.name}}</td>
                <td>{{region.InternalPort}}</td>
                <td>{{region.Location}}</td>
                <td>{{region.status}}</td>
                <td>
                {%ifequal region.status 'Offline'%}
                <span data-function='opensim.backup_region' data-uuid='{{region.RegionUUID}}' class='btn action-icon action-icon-disabled backup-region-on' value='{{region.RegionUUID}}'></span>
                {%else%}
                <span data-function='opensim.backup_region' data-uuid='{{region.RegionUUID}}' class='btn action-icon backup-region-on' value='{{region.RegionUUID}}'></span>
                {%endifequal%}
                </td>
                </tr>
            {%endfor%}
            </tbody>
            </table>
            <div class='btn-bar'>
                <div class='btn-set btn-set-single ui-helper-clearfix'>
                    <button data-uri='/opensim/regions/create/' class='btn ui-state-default ui-corner-left'>
                        <span class='ui-icon ui-icon-document'></span><span class='btn-txt'>{%trans 'New'%}</span>
                    </button>
                    <button data-uripart='/opensim/regions/{id}/edit/' data-uriflag='cb-cid' class='btn btn-active-one ui-state-default ui-state-disabled'>
                        <span class='ui-icon ui-icon-pencil'></span><span class='btn-txt'>{%trans 'Edit'%}</span>
                    </button>
                    <button data-function='opensim.delete_regions' class='btn btn-active-many ui-state-default ui-corner-right ui-state-disabled'>
                        <span class='ui-icon ui-icon-scissors'></span><span class='btn-txt'>{%trans 'Delete'%}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class='ui-widget-content' id='opensim-scenes'>
            <div>
                <table class='datatable'>
                <thead>
                    <tr>
                    <th><input type='checkbox' id='cb-all'/></th>
                    <th>{%trans 'Description'%}</th>
                    <th>{%trans 'Modified'%}</th>
                    <th>{%trans 'Size'%}</th>
                    <th>{%trans 'Options'%}</th>
                    </tr>
                </thead>
                <tbody>
                {%for scene in scenes%}
                <tr>
                <td><input type='checkbox' id='{{scene.name}}' name='{{scene.name}}'/></td>
                <td>{{scene.name}}</td>
                <td>{{scene.modified}}</td>
                <td>{{scene.size}}</td>
                <td>
                {%ifequal online_regions 0 %}
                <span data-function='opensim.load_scene' data-name='{{scene.name}}' class='btn action-icon action-icon-disabled scene-backup-load' value='{{scene.name}}'></span>
                {%else%}
                <span data-function='opensim.load_scene' data-name='{{scene.name}}' class='btn action-icon scene-backup-load' value='{{scene.name}}'></span>
                {%endifequal%}
                <span data-function='opensim.download_scene' data-name='{{scene.name}}' class='btn action-icon scene-backup-download' value='{{scene.name}}'></span>
                </td>
                </tr>
                {%endfor%}
                </tbody>
                </table>
            </div>
            <div class='btn-bar'>
                <div class='btn-set btn-set-single'>
                    <button data-function='opensim.delete_scenes' class='btn btn-active-many ui-state-default ui-corner-left ui-state-disabled'>
                        <span class='ui-icon ui-icon-scissors'></span><span class='btn-txt'>{%trans 'Delete'%}</span>
                    </button>
                    <button data-uri='/opensim/regions/scenes/upload/' class='btn ui-state-default ui-corner-right'>
                        <span class='ui-icon ui-icon-transfer-e-w'></span><span class='btn-txt'>{%trans 'Upload'%}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>