{%load i18n%}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'Scenes'%}</span>
        <span>{%trans 'Upload'%}</span>
    </div>
    <div class='ui-widget-content'>
        <form method='post' action='' enctype='multipart/form-data'>
            <p><div><label>{%trans 'Selected files'%}</label></div><div id='upload-selected'></div></p>
            <p><label for='id_scene'></label><input type='file' name='Select' id='id_scene' /></p>
            <p>
            <label for='upload-status'>{%trans 'Progress'%}</label>
            <div id='upload-status'></div>
            </p>
        </form>
    </div>
    <div class='btn-bar'>
        <div class='btn-set btn-set-single'>
            <button id='upload-cancel-button' data-uri='/opensim/regions/' class='btn ui-state-default ui-corner-left'>
                <span class='ui-icon ui-icon-document'></span><span class='btn-txt'>{%trans 'Cancel'%}</span>
            </button>
            <button id='upload-start-button' data-function='opensim.start_upload_scenes' class='btn ui-state-default ui-corner-right ui-state-disabled'>
                <span class='ui-icon ui-icon-pencil'></span><span class='btn-txt'>{%trans 'Start'%}</span>
            </button>
        </div>
    </div>
</div>
