{% load i18n %}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'New Page'%}</span>
    <span>{%trans 'Create'%}</p>
    </div>
    <div class='ui-widget-content'>
        <form>
            {{ form.as_p }}
        </form>
    </div>
    <div class='btn-bar'>
        <div class='btn-set btn-set-single'>
            <button data-uri='/pages/' data-uuid='{{page.uuid}}' class='btn ui-state-default ui-corner-left'>
                <span class='ui-icon ui-icon-document'></span><span class='btn-txt'>{%trans 'Cancel'%}</span>
            </button>
            <button data-function='pages.save_create_anchor' data-uuid='{{page.uuid}}' class='btn ui-state-default ui-corner-right'>
                <span class='ui-icon ui-icon-pencil'></span><span class='btn-txt'>{%trans 'Save'%}</span>
            </button>
        </div>
    </div>
</div>
