{% load i18n %}
<div class='hwios-widget' id='entity-editor-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'New Entity'%}</span>
        <span>{%trans 'Create'%}</span>
    </div>
    <div class='ui-widget-content'>
        <form>{{ form.as_p }}</form>
        <div id='entity-editor' class='infinote-editor'></div>
    <div class='btn-bar'>
        <div class='btn-set btn-set-single'>
            <button data-uri='/pages/' class='btn ui-state-default ui-corner-left'>
                <span class='ui-icon ui-icon-document'></span><span class='btn-txt'>{%trans 'Cancel'%}</span>
            </button>
            <button data-function='pages.save_create_entity' data-uuid='{{entity.uuid}}' class='btn ui-state-default ui-corner-right'>
                <span class='ui-icon ui-icon-pencil'></span><span class='btn-txt'>{%trans 'Save'%}</span>
            </button>
        </div>
    </div>
    </div>

</div>
