{% load i18n %}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{{entity.slug}}</span>
        <span>{%trans 'Edit Entity'%}</span>
    </div>
    <div class='ui-widget-content'>
        <form>{{ form.as_p }}</form>
        <div id='entity-editor' class='infinote-editor'></div>
    </div>
    <div class='btn-bar'>
        <div class='btn-set btn-set-single'>
            <button data-uri='/pages/' data-uuid='{{entity.uuid}}' class='btn ui-state-default ui-corner-left'>
                <span class='ui-icon ui-icon-cancel'></span><span class='btn-txt'>{%trans 'Cancel'%}</span>
            </button>
            <button data-function='pages.save_edit_entity' data-uuid='{{entity.uuid}}' class='btn ui-state-default ui-corner-right'>
                <span class='ui-icon ui-icon-transfer-e-w'></span><span class='btn-txt'>{%trans 'Submit'%}</span>
            </button>
        </div>
    </div>
</div>
