{%load i18n%}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{%trans 'Pages'%}</span>
        <span>{%trans 'Overview'%}</span>
    </div>
    <div class='ui-widget-content'>
        <table class='datatable' >
        <thead>
            <tr>
            <th><input type='checkbox' id='cb-all'/></th>
            <th>{%trans 'Title'%}</th>
            <th>{%trans 'Size'%}</th>
            <th>{%trans 'Type'%}</th>
            <th>{%trans 'Visible'%}</th>
            <th>{%trans 'Last Modified'%}</th>
            <th>{%trans 'Options'%}</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
        <tr>
        <td><input type='checkbox' id='{{page.pk}}' name='{{page.pk}}'/></td>
        <td>{{page.slug}}</td>
        <td>{{page.script|length}}</td>
        <td>{{page.type}}</td>
        <td>
        {%ifequal page.visible 0 %}
        {%trans 'All'%}
        {%else%}
        {%ifequal page.visible 1 %}
        {%trans 'Users'%}
        {%else%}            
        {%ifequal page.visible 2 %}
        {%trans 'Moderators'%}
        {%endifequal%}{%endifequal%}{%endifequal%}
        </td>
        <td>{{page.last_modified|date:'SHORT_DATETIME_FORMAT' }}</td>
        <td></td>
        </tr>
        {%endfor%}
        </tbody>
        </table>
    </div>
    <div class='btn-bar'>
        <div class='btn-set btn-set-single'>
            <button data-uri='/pages/new/' class='btn ui-state-default ui-corner-left'>
                <span class='ui-icon ui-icon-document'></span><span class='btn-txt'>{%trans 'New'%}</span>
            </button>
            <button data-uripart='/pages/{id}/edit/' data-uriflag='cb-cid' class='btn btn-active-one ui-state-default ui-state-disabled'>
                <span class='ui-icon ui-icon-pencil'></span><span class='btn-txt'>{%trans 'Edit'%}</span>
            </button>
            <button data-function='pages.delete_pages' class='btn btn-active-many ui-state-default ui-state-disabled ui-corner-right'>
                <span class='ui-icon ui-icon-scissors'></span><span class='btn-txt'>{%trans 'Delete'%}</span>
            </button>
        </div>
    </div>
</div>