{% load i18n %}
<div class='hwios-widget'>
    <div class='ui-widget-header'>
        <span>{{page.slug}}</span>
        <span id='wiki-fullscreen-button' class='header-option hwios-button ui-icon ui-icon-arrow-4-diag' data-function='wiki.edit_fullscreen'></span>
        <span>{%trans 'Edit document'%}</span>
    </div>
    <div class='ui-widget-content'>
        <div class='edit-wiki-page'>
            <div id='wiki-markdown'></div>
            <div id='wiki-editor' class='infinote-editor'></div>            
        </div>
        <form method='post' action='/wiki/{{page.slug}}/save/'>
            {{form.as_p}}
        </form>    
    </div>
    <div class='hwios-toolbar'>
        <div class='ui-helper-clearfix'>
            <div class='fg-buttonset fg-buttonset-single ui-helper-clearfix'>
                <button data-uri='/wiki/{{page.slug}}/' data-id='{{page.slug}}' class='fg-button ui-state-default fg-button-icon-left ui-corner-left'><span class='ui-icon ui-icon-cancel'></span><span>{%trans 'Cancel'%}</span></button>
                <button data-function='wiki.save_edit_article' data-id='{{page.slug}}' class='fg-button ui-state-default fg-button-icon-left ui-corner-right'><span class='ui-icon ui-icon-transfer-e-w'></span><span>{%trans 'Submit'%}</span></button>
            </div>
        </div>
    </div>
</div>



