{% load i18n %}
{% autoescape off %}
<div class='hwios-widget' id='wiki-context'>
    <div class='ui-widget-header'>
        <span>{{article.slug|escape}}</span>
        {%if profile.is_staff%}         
        <span class='header-option btn ui-icon ui-icon-trash' data-function='wiki.delete_article' data-id='{{article.slug}}'></span>
        {%endif%}
        {%if profile.is_authenticated%}
        <span class='header-option btn ui-icon ui-icon-pencil' data-uri='/wiki/{{article.slug}}/edit/' data-id='{{article.slug}}'></span>
        {%endif%}
        <span>{{article.last_modified|date:"M d Y H:i"}}</span>        
    </div>
    <div class='ui-widget-content' data-id='{{article.slug|escape}}' data-ctxmatch='["delete-document","edit-document","view-document-history"]'>
        <div id='wiki-markdown'></div>
        <div id='wiki-editor' class='editor-hidden'></div>
    </div>
</div>
{% endautoescape %}



